#tooltip.hidden
{
    display: none;
}
#tooltip
{
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: coral;
    border-radius:10px;
}
#tooltip #img img
{
    width: 200px;
    height:200px;
}